.header {
  height: 74px;
  width: 880px;
  margin: 0 auto;
  padding-top: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 920px) {
  .header {
    margin: 0 auto;
    width: calc(100% - 40px);
  }
}

@media screen and (max-width: 500px) {
  .header {
    padding-top: 28px;
    height: 56px;
  }
}
