.elements__name {
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  color: #000;
  margin: 0 0 0 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: calc(282px - 72px);
  white-space: nowrap;
}

@media screen and (max-width: 920px) {
  .elements__name {
    max-width: calc((100vw - 320px) / 3);
  }
}

@media screen and (max-width: 700px) {
  .elements__name {
    max-width: calc((100vw - 230px) / 2);
  }
}

@media screen and (max-width: 500px) {
  .elements__name {
    max-width: calc(100vw - 150px);
  }
}
