.elements__heart {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/heart.svg);
  color: #FFF;
  margin: 0 20px 0 0;
  transition: .5s ease;
}

.elements__heart:hover {
  opacity: .5;
}
